body {
  background-color: rgb(253, 253, 253);
}

.search-error {
  text-align: center;
  margin-top: 0.5rem;
  color: rgb(250, 134, 134);
  visibility: hidden;
}

.category {
  font-size: 1rem;
}

.form-check-label {
  font-size: 0.9rem;
  width: 150%;
}

.form-check {
  width: 100px;
  margin-right: 1.5rem;
}

.card-title_name,
.card-body_links {
  font-size: 0.6rem;
  flex-direction: column;
}
.card-body_title {
  padding: 0;
  margin-top: 0.3rem;
}
.card-body_links {
  padding: 0;
}
.card-body_links a {
  font-size: 0.6rem;
  margin: 0.3rem 0 !important;
}

.card-res {
  width: 8rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.container-image {
  max-width: 650px;
  /* max-height: 555px; */
}

.nutritionalVals {
  width: 230px;
  display: inline-block;
}

@media (min-width: 420px) {
  .search-input {
    max-width: 500px;
  }
}

@media (min-width: 600px) {
  .main-card {
    margin: 1rem;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .category-div {
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .card-res {
    width: 10rem;
  }

  .card-title_name,
  .card-body_links a {
    font-size: 0.8rem;
  }

  .search-input {
    height: 50px;
    line-height: 24px;
    font-size: 1rem;
  }
}
@media (min-width: 910px) {
  .main-card .meal-card_link {
    max-width: 900px;
    margin: auto;
  }
  .card-res {
    width: 12rem;
  }

  .card-body_links {
    flex-direction: row;
  }

  .card-body_links a {
    margin: 0.2rem !important;
  }

  .category {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .form-check-label {
    font-size: 1rem;
  }

  .form-check {
    margin-right: 2.3rem;
  }
}

@media (max-width: 400px) {
  .main-card {
    min-width: 380px;
  }
}
